<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/stylecreate.css">
        <tile> <b>SIGN IN </b></tile>
    </head>
    <body>
        <pre>
        <form Method="POST" action="/userdata">
        username:<input type="text" name="username" /> <br />
        password:<input type="password" name="password" /> <br />
        <button type="submit"> Submit </button>
        </pre>
        </form>
    </body>
 </html>




    </body>    
</html>   