	
<!DDOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="UTF-8" />
				<meta http-equiv="X-UA-Compatible" content="IE=edge" />
				<meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<link rel="stylesheet" href="http://localhost:3000/stylesheets/stylelist.css">
				<title>List Users</title>
			</head>
			<body>
				<a href="/userdata/create">Buat User baru</a> | <a href="/logout">Logout</a> <br />
				
		
				<table border="1">
					<thead>
						<tr>
							<th>Username</th>
							<th>Password</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% results.forEach((userdata) => { %>
						<tr>
							<td><%= userdata.username %></td>
							<td><%= userdata.password %></td>
							<td>
								<a href="/userdata/<%= userdata.username %>/update/">EDIT</a> |
								<form action="/userdata" method="POST">
									<input type="hidden" name="method" value="DELETE" />
									<input type="hidden" name="username" value="<%= userdata.username %>" />
									<button type="submit">DELETE</button>
								</form>
							</td>
						</tr>
						<%} else( %>
						<%res.send("Unauthorized add User")%>
						<% })) %>
					</tbody>
				</table>
				<% }) %>
			</body>
		</html>
		