<!DOCTYPE HTML>
<html>
<head>
		<title>Play Traditional Game</title>
		<meta charset="UTF-8">
		<meta name="viewport">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
		<link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/></head>
<body>
	<header>
		<section id="main">
		<div class="bg-img">
   		 	<h1>PLAY TRADITIONAL GAME</h1>
			<h3>Experience new traditional game play</h3>
			<button onclick="location.href='/play'" type="button"> PLAY NOW </button>
		<div class="footer0">
				<footer>THE STORY</footer>
				<a href="#div_story"><img src="http://localhost:3000/images/arrowdown.png"></a>
		</div>
		<nav>		  
		<div class="left-links">
			<a class="logo"  href="#" >LOGO</a>
			<a class="links" href="#"> </a>
			<a class="links" href="#"> </a>
			<a class="links" href="#"> </a>
			<a class="links" href="#"> </a>
			<a class="links" href="#"> </a>
			<a class="links selected" href="#">HOME</a>
			<a class="links" href="#"> WORK</a>
 			<a class="links selected" href="#">CONTACT</a>
			<a class="links" href="#"> ABOUT ME</a>
		</div>
		<div class="right-links">
			<a class="links" href="http://localhost:3000/register">SIGN IN</a>
			<a class="links" href="http://localhost:3000/login">LOGIN</a>
		</div>
		</nav>
		</section>
	</header>
	
	<section id="div_story">
		<div>
			<div class="hero-image2">
 		 	<div class="hero-text2">
   		 	<p>    What's so special? </p>
   		 	<h1>   THE GAMES  </h1>
		</div>
		<div class="container">
        	<div class="slider">
            <div>
              	<a href="#"><img src="http://localhost:3000/images/rockpaperstrategy-1600.jpg" alt="Image 1"></a>            
           	</div>
          	<div>
               	<a href="#"><img src="http://localhost:3000/images/rockpaperstrategy-1600.jpg" alt="Image 2"> </a>
            </div>
            <div>
                <a href="#"><img src="http://localhost:3000/images/rockpaperstrategy-1600.jpg" alt="Image 3"> </a>            
            </div>
            <div>
               	<a href="#"><img src="http://localhost:3000/images/rockpaperstrategy-1600.jpg" alt="Image 4"></a>
           	</div>
            <div>
        		<a href="#"><img src="http://localhost:3000/images/rockpaperstrategy-1600.jpg" alt="Image 5"></a>            
          	</div>
	</div>		
	</div>
	</div>
	<section id="FEATURES">
		<div>
			<div class="hero-image3">
 		 	<div class="hero-text3">
   		 	<h6>    What's  so  special? </h6>
   		 	<h1>   F E A T U R E S  </h1>
			<ul type="disk">
				<li><h5>TRADITIONAL GAMES</h5></li>
				    <h6>if you miss your childhood we provide</h6>
				    <h6>many traditional games here</h6>
			</ul>
			<ul type="circle">		
				<li><h5>GAME SUIT</h5></li>
			</ul>
			<ul type="circle">
				<li><h5>TBD</h5></li>
			</ul>
			<div class="garis_verikal"></div>
			
		</div>
	</section>

	<section id="REQUIREMENTS">
		<div>
			<div class="hero-image4">
 		 	<div class="hero-text4">
   		 	<h6>   Can My Computer Run this Game ? </h6>
   		 	<h1>   S Y S T EM  </h1>
			<h1>   R E Q U I R E M E N T S  </h1>
		</div>
		<div class="container-class"> /--GRID--/
			<div class ="item-class1">
				<h3>OS:</h3>
				<p>Windows 7 64-bit only</p>
				<p>No OSX support at this time</p>
			</div>
			<div class ="item-class2">
				<h3>PROCESSOR:</h3>
				<p>Intel Core 2 Duo @ 2.4 GHZ or</p>
				<p>AMD Athlon X2 @2.8 GHZ</p>
			</div>	
			<div class ="item-class3">
				<h3>mEMORY:</h3>
				<p>4 GB RAM</p>	
			</div>	
			<div class ="item-class4">
				<h3>storage:</h3>
				<p>8 GB available space</p>	
			</div>		
			<div class ="item-class5">
				<h3>GRAPHICS:</h3>
				<p>NVIDIA Ge Force GTX 660 2GB or</p>	
				<p>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>			
			</div>
		</div>
		
	</section>
        
	<section id="TOPSCORES">
		<div>
			<div class="hero-image5">
 		 	<div class="hero-text5">
   		 	<h1>   TOP SCORES  </h1>
			<h6>   This top score from various games provided  </h6>
			<h6>   on this platform  </h6>
			<a class="button-link" href="#" ><button>see more </button></a>
		</div>
		<div class="media1">
			<img class="media-object1" src="http://localhost:3000/images/evan-lahti.jpg" alt="evan" style="z-index:1; position:absolute;"/>
			<img class="media-object1a" src="http://localhost:3000/images/ellipse-orange.png" alt="ellipse"style="z-index:0; width="100%";"/>
			<a href="#"><img class="logo1"src="http://localhost:3000/images/twit.png" alt="Index Image Link"></a>
			<div class="media-body1">
			  <h3 class="media-heading1">Evan Lahti</h3>
			  <p>PC Gamer</p>
			</div>
			<div class="media-body1a">
		      <p1> "One of my gaming highlighting of the year."</p1>
			  <p2>  October 18,2018</p2>
		  </div>
		</div>
		<div class="media2">
			<img class="media-object2" src="http://localhost:3000/images/jada-griffin.jpg" alt="jada"style="z-index:1; position:absolute;"/>
			<img class="media-object2a" src="http://localhost:3000/images/ellipse-orange.png" alt="ellipse"style="z-index:0; width="100%";"/>
			<a href="#"><img class="logo2"src="http://localhost:3000/images/twit.png" alt="Index Image Link"></a>
			<div class="media-body2">
			  <h3 class="media-heading2">Jada Griffin</h3>
			  <p>Nerdreactor</p>
			</div>  
			<div class="media-body2a">
		      <p1> "The next big thing in the world of streaming</p1>
			  <p1> and survival games."</p1>
			  <br></br>
			  <p2> December 21,2018</p2>
		  </div>
		</div>
		  <div class="media3">
			<img class="media-object3" src="http://localhost:3000/images/aaron-williams.jpg" alt="aaron"style="z-index:1; position:absolute;"/>
			<img class="media-object3a" src="http://localhost:3000/images/ellipse-orange.png" alt="ellipse"style="z-index:0; width="100%";"/>
			<a href="#"><img class="logo3"src="http://localhost:3000/images/twit.png" alt="Index Image Link"></a>
			<div class="media-body3">
			  <h3 class="media-heading3">Aaron Williams</h3>
			  <p>Uproxx</p>
			</div>
			<div class="media-body3a">
		      <p1><left>"Snoop Dog Playing The Widely Entertaining"</left></p1>
			  <p1> 'SOS Is Ridiculous'</p1>
			  <br> </br>
			  <p2> December 24,2018</p2>
		  </div>
		</div>
		</div>
			
	</section>

	<section id="END PAGE">
		<div>
			<div class="hero-image6">
 		 	<div class="hero-text6">
				<h6>   Want to stay in  </h6>
				<h6>   touch ?  </h6>
   		 		<h1>   N E W S L E T T E R  </h1>
				<h1>   S U B S C R I B E  </h1>
				<h6>   In order to start receiving our news,all you have to do is enter your email  </h6>
				<h6>   address. Everything else will be taken care of by us. We will send you emails.</h6>
				<h6>   containing information about game. We don't spam.  </h6>
			<div class="boxemail">
				<form method="post" action="#">
					<h6><label>your email address</label></h6>
					<input type="text" name="email" placeholder="youremail@binar.co.id">
					<button onclick="location.href='./index.html#div_main'" type="button">SUBSCRIBE NOW </button>
				</form>
		</div>
		<div>
			<div class="navbar">
				<a href="#main" class="active">Main</a>
				<a href="#div_story">About</a>
		   		<a href="#FEATURES">Game Features</a>
		  		<a href="#REQUIREMENTS">System Requirement</a>
		  		<a href="#TOPSCORES">Quotes</a>
		 	 	<a href="#"><img src="http://localhost:3000/images/fb.jpg" width="20px" height="20px";></a> 
		  		<a href="#"><img src="http://localhost:3000/images/tw.jpg" width="20px" height="20px";></a> 
		  		<a href="#"><img src="http://localhost:3000/images/yt.jpg" width="20px" height="20px";></a> 
		  		<a href="#"><img src="http://localhost:3000/images/bb.jpg"width="20px" height="20px";></a> 
	 		</div>
			<div class="footer">
				<h6> &#169 2018 Your games, Inc. All Rights Reserved</h6>
			</div>	
			<div class="footer2">	
				<a href="#privacypolicy" style="color:white;text-decoration:none">PRIVACY POLICY |</a>
				<a href="#termofservices"style="color:white;text-decoration:none">TERM OF SERVICES |</a>	
				<a href="#codeofconduct"style="color:white;text-decoration:none">CODE OF CONDUCT</a>
			</div>
		</div>
		
    </section>    

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Slick JS -->    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

 

</body>
 <script type="text/javascript" src="http://localhost:3000/javascripts/scriptmain.js"></script>
</html>
